.header{
    width: 100%;
    background-color: #e6790d;
    height: 45px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-text{
    margin-left:10px;
    font-size:20px;
    font-weight: 500;
}
.right-buttons{
    margin-right:10px;
}

