.carousel-container {
    margin: 20px auto 20px auto;
}

.carousel-container img {
    height: 500px;
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}
